// body {
//   overflow-x: hidden;
//   overflow-y: hidden;
// }

/* Hide the scrollbar for Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Hide the scrollbar for other browsers */
body {
  background-color: #12151e;

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Style for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
*,
span {
  color: #dddddd;
}
